.fh {
    height: 100vh;
    margin: 0px;
}

.fhp {
    height: 100%;
    margin: 0px;
}

.absolute {
    position: absolute;
}

.readyButton {
    position: absolute;
    bottom: 30px;
    right: 30px;
}