<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Leaderboard</title>
    </head>
    <body>
        <table style="text-align: center;">
            <tr>
                <th>solve_id</th>
                <th>username</th>
                <th>layers</th>
                <th>time</th>
                <th>replay</th>
            </tr>
            {% for (username, id, solve_id, time, race_id) in solves %}
            <tr>
                <td>{{ solve_id }}</td>
                <td>
                    {% if True %}
                    {{ username }}
                    {% else %}
                    Anonymous
                    {% endif %}
                </td>
                <td>{{ time / 1000 }}s</td>
                <td><a href="/solve/{{solve_id}}">replay</a></td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>