<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Race</title>
</head>
<body>
    <div>Lobby id: {{ lobby_id }}</div>
    <div id="userList">Users:</div>
    <button id="readyButton">ready</button>
    <div id="info"></div>
    {% if is_creator %}
        <button id="startButton">Start the race</button>
    {% endif %}
    <br>
    <canvas id="mainCanvas" style="width: 100%; height: 50%"></canvas>
    <div id="otherCanvases" style="position:absolute; right: 0; top: 0; height: 100%; width: 30%;"></div>
</body>
<script type="module">
    import { io } from '/static/js/libs/socket.io.esm.min.js'
    import { Cube } from '/static/js/cube.js'
    import keybinds from '/static/js/keybindings.js'
    const socket = io();

    const cube = new Cube(3, document.getElementById("mainCanvas"));
    const ourUsername = "{{ current_user.username }}";
    console.log(ourUsername);

    const lobby_id = {{ lobby_id }};

    const userList = document.getElementById("userList");

    const users = new Map();
    function addUser(username) {
        const div = document.createElement("div");
        div.innerHTML = username;
        userList.appendChild(div);

        // skip adding our cube
        if (username == ourUsername) {
            users.set(username, { div: div, ready: false} );
            return;
        };

        const canvasDiv = document.createElement("div");
        canvasDiv.style = "position: relative";
        document.getElementById("otherCanvases").appendChild(canvasDiv);

        const nameDiv = document.createElement("div");
        nameDiv.style = "position: absolute; top: 0; left: 0; color: white;"
        nameDiv.innerHTML = username;
        canvasDiv.appendChild(nameDiv);

        // create cube
        // begin dup with drawAnotherCube in main
        const canvas = document.createElement("canvas");
        canvas.style = "width: 100%; height: 250px"
        canvasDiv.appendChild(canvas);

        const _cube = new Cube(3, canvas);
        _cube.render()
        // end dup

        users.set(username, { div: div, cube: _cube, ready: false} );
    }

    socket.on("lobby_move", function(data) {
        const username = data.username;
        const move = data.move;

        const user = users.get(username);
        user.cube.makeMove(move);
    })

    // begin duplication with main.js
    document.addEventListener("keydown", event => {
        let move = keybinds.get(event.key);
        if (move) {
            cube.makeMove(move);
            socket.emit("lobby_move", { lobby_id: lobby_id, move: move });
        }
    });
    // end

    const readyButton = document.getElementById("readyButton");
    let ready = false;
    readyButton.addEventListener("click", () => {
        if (!ready) {
            socket.emit("ready", { lobby_id: lobby_id})
            readyButton.innerHTML = "unready"
            ready = true;
        } else {
            socket.emit("unready", { lobby_id: lobby_id})
            readyButton.innerHTML = "ready"
            ready = false;
        }
    });

    socket.on("ready", function(data) {
        const username = data.username;
        const user = users.get(username)
        user.div.innerHTML = username + " [ready]";
    });

    socket.on("unready", function(data) {
        const username = data.username;
        const user = users.get(username)
        user.div.innerHTML = username;
    })

    {% if is_creator %}
        const startButton = document.getElementById("startButton")
        startButton.addEventListener("click", () => {
            socket.emit("startLobby", { lobby_id: lobby_id});
        })
    {% endif %}

    // connect to this lobby
    socket.emit("lobby_connection", { lobby_id: lobby_id }, function(users) {
        users.forEach((user) => {addUser(user)});
    })

    socket.on("lobby_connection", function(data) {
        addUser(data.username);
    })

    socket.on("match_start", function(data) {
        let scramble = data.scramble;
        const moves = scramble.split(' ');
        for (const move of moves) {
            console.log(move);
            cube.makeMove(move);
        }
        console.log("users", users)
        for (let [user, data] of users) {
            const c = data.cube
            if (c == undefined)  {
                continue
            }
            for (const move of moves) {
                c.makeMove(move)
            }
        }

        const infoDiv = document.getElementById("info");
        infoDiv.innerHTML += `The match is starting. <br> Scramble: ${scramble}`;
    })

    console.log(socket);
</script>
</html>