<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Race</title>
</head>
<body>
    <div>Lobby id: {{ lobby_id }}</div>    
    <div id="userList">Users:</div>
    <button id="readyButton">ready</button>
    <div id="info"></div>
    {% if is_creator %}
        <button id="startButton">Start the race</button>
    {% endif %}
    <br>
    <canvas id="mainCanvas" style="width: 100%; height: 50%"></canvas>
</body>
<script type="module">
    import { io } from '/static/js/libs/socket.io.esm.min.js'
    import { Cube } from '/static/js/cube.js'
    import keybinds from '/static/js/keybindings.js'
    const socket = io();

    const cube = new Cube(3, document.getElementById("mainCanvas"));

    const lobby_id = {{ lobby_id }};

    const userList = document.getElementById("userList");

    const users = new Map();
    function addUser(username) {
        const div = document.createElement("div");
        div.innerHTML = username;
        userList.appendChild(div);
        users.set(username, { div: div, ready: false} );
    }

    // begin duplication with main.js
    document.addEventListener("keydown", event => {
        let move = keybinds.get(event.key);
        // expand array of parameters with ...args
        if (move) {
            cube.makeMove(move);
        }
    });
    // end

    const readyButton = document.getElementById("readyButton");
    let ready = false;
    readyButton.addEventListener("click", () => { 
        if (!ready) {
            socket.emit("ready", { lobby_id: lobby_id}) 
            readyButton.innerHTML = "unready"
            ready = true;
        } else {
            socket.emit("unready", { lobby_id: lobby_id}) 
            readyButton.innerHTML = "ready"
            ready = false;
        }
    });

    socket.on("ready", function(data) {
        const username = data.username;
        const user = users.get(username)
        user.div.innerHTML = username + " [ready]";
    });

    socket.on("unready", function(data) {
        const username = data.username;
        const user = users.get(username)
        user.div.innerHTML = username;
    })
    
    {% if is_creator %}
        const startButton = document.getElementById("startButton")
        startButton.addEventListener("click", () => {
            socket.emit("startLobby", { lobby_id: lobby_id});
        })
    {% endif %}

    // connect to this lobby
    socket.emit("lobby_connection", { lobby_id: lobby_id }, function(users) {
        users.forEach((user) => {addUser(user)});
    })

    socket.on("lobby_connection", function(data) {
        addUser(data.username);
    })

    socket.on("match_start", function(data) {
        let scramble = data.scramble;
        scramble = "D' R U R F' U2 R D L F2 D2 L2 F D2 B' L2 B U2 F2 L2 F'"
        const moves = scramble.split(' ');
        for (const move of moves) {
            console.log(move);
            cube.makeMove(move);
        }
        const infoDiv = document.getElementById("info");
        infoDiv.innerHTML += `The match is starting. <br> Scramble: ${scramble}`;
    })

    console.log(socket);
</script>
</html>