<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Race</title>
</head>
<body style="position: absolute; width: 100%; height:100%; margin: 0; color:white">
    <div style="position: absolute; z-index: 100;">
        <div>Lobby id: {{ lobby_id }}</div>
        <div id="userList">Users:</div>
        <button id="readyButton">ready</button>
        <div id="info"></div>
        {% if is_creator %}
            <button id="startButton" style="disabled: true; " disabled>Start the race</button>
        {% endif %}
        <br>
        <button id="solveButton">Solve the cube</button>
    </div>
    <canvas id="mainCanvas" style="position: absolute; width: 80%; height: 100%; top: 0;"></canvas>
    <div id="otherCanvases" style="position:absolute; right: 0; top: 0; height: 100%; width: 20%;"></div>
    <div id="timer" style="position: absolute; bottom: 0; width: 80%; text-align:center; font-size:40px"></div>

    <script type="text/javascript">
        const ourUsername = "{{ current_user.username }}";
        const lobby_id = {{ lobby_id }};
    </script>
    <script type='module' src="/static/dist/js/race.js"></script>
</body>
</html>