
<!DOCTYPE html>
<html lang="en" style="height: 100%;">
    <head>
        <title>Solve replay</title>
    </head>
    <body style="height: 100%;">
        <canvas id="c" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"></canvas>
        <div id="scramble" style="position: absolute; color: white;">Scramble: </div>
    </body>
    <script type="module">
        import Cube from '/static/js/cube_new.js';

        const canvas = document.getElementById("c");
        const layers = {{ layers }};
        const cube = new Cube(layers, canvas);

        const div = document.getElementById("scramble");
        var scramble = {{ scramble | tojson }};
        var solution = {{ solution | tojson }};

        scramble = scramble.split(' ')
        for (const move of scramble) {
            cube.makeMove(move);
            div.innerHTML += move + " ";
        }

        div.innerHTML += "<br> Solve: "

        function replayStep(cube, eventType, arg) {
            if (eventType == "move") {
                cube.makeMove(arg);
                div.innerHTML += arg + " ";
            } else if (eventType == "rotation") {
                cube.camera.position.copy(arg);
                cube.camera.lookAt(0, 0, 0);
                cube.render();
            } else {
                alert("unknown eventType")
            }
        }

        // replay the solve
        let lastTime = 0;
        console.log(solution)
        console.log(solution.split(' '))
        for (const move of solution.split(' ')) {
            if (move == "") continue;
            await new Promise(r => setTimeout(r, 250));
            console.log(move)
            cube.makeMove(move)
            // replayStep(cube, eventType, arg);
            // lastTime = time;
        }

    </script>
</html>