
<!DOCTYPE html>
<html lang="en" style="height: 100%;">
    <head>
        <title>Solve replay</title>
    </head>
    <body style="height: 100%;">
        <canvas id="c" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"></canvas>
        <div id="scramble" style="position: absolute; color: white;">Scramble: </div>
    </body>
    <script type="module">
        import Cube from '/static/js/cube_new.js';

        const canvas = document.getElementById("c");
        const cube_size = {{ cube_size }};
        const cube = new Cube(cube_size, canvas);
        const camera_changes = {{ camera_changes | tojson }};

        const div = document.getElementById("scramble");
        var scramble = {{ scramble | tojson }};
        var moves = {{ moves | tojson }};

        console.log(camera_changes)

        scramble = scramble.split(' ')
        for (const move of scramble) {
            cube.makeMove(move);
            div.innerHTML += move + " ";
        }

        div.innerHTML += "<br> Solution: "
        div.innerHTML += moves.map(([move, time]) => move);

        function replayStep(cube, eventType, arg) {
            if (eventType == "move") {
                cube.makeMove(arg);
                div.innerHTML += arg + " ";
            } else if (eventType == "rotation") {
                cube.camera.position.copy(arg);
                cube.camera.lookAt(0, 0, 0);
                cube.render();
            } else {
                alert("unknown eventType")
            }
        }

        async function replayMoves() {
            // replay the solve
            let lastTime = 0;
            for (const [move, timestamp] of moves) {
                await new Promise(r => setTimeout(r, timestamp - lastTime));
                cube.makeMove(move)
                lastTime = timestamp;
            }
        }

        async function replayCamera() {
            let lastTimeC = 0;
            for (const [x, y, z, timestamp] of camera_changes) {
                await new Promise(r => setTimeout(r, timestamp - lastTimeC));
                console.log("ZMENA")
                cube.camera.position.x = x;
                cube.camera.position.y = y;
                cube.camera.position.z = z;
                cube.camera.lookAt(0, 0, 0);
                cube.render();
                lastTimeC = timestamp;
            }
        }

        replayMoves();
        replayCamera();

    </script>
</html>