<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <canvas id="c" style="height: 80%; width: 80%;"></canvas>
</head>
<body>
<script type="module">
    import nj from '/static/js/libs/numjs.min.js';
    import { Cube } from '/static/js/cube_dev.js'
    import keybinds from '/static/js/keybindings.js'
    // optional: assign to global to let other code can use: globalThis.nj = nj;
    const n = 3
    // const arr = nj.arange(n*n*n).reshape(n, n, n)
    // console.log(arr)
    // window.arr = arr
    window.nj = nj

    function rototate_layer(x, y, z, dir) {
        const layer = arr.pick(x, y, z)
        const rotated = nj.rot90(layer, dir).clone()

        for (let i = 0; i < n; ++i) {
            for (let j = 0; j < n; ++j) {
                layer.set(i, j, rotated.get(i, j))
            }
        }
    }
    window.rototate_layer = rototate_layer

    const canvas = document.getElementById("c")
    const cube = new Cube(3, canvas);
    cube.init_controls();
    document.addEventListener("keydown", event => {
        let move = keybinds.get(event.key);
        if (move) {
            cube.makeMove(move);
        }
    });
    window.cube = cube

</script>
</body>
</html>