<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <canvas id="c" style="height: 80%; width: 80%;"></canvas>
</head>
<body>
<script type="module">
    import { Cube } from '/static/js/cube_new.js'

    const canvas = document.getElementById("c")
    const cube = new Cube(3, canvas);
    cube.init_camera_controls();
    cube.init_keyboard_controls();
    cube.init_mouse_moves();
    cube.onMove(move => console.log(move));
    cube.onCamera(position => console.log(position));
    window.cube = cube
</script>
</body>
</html>