<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <canvas id="c" style="height: 80%; width: 80%;"></canvas>
    <div id="t1"></div>
    <div id="t2"></div>
    <button id="b">Stop</button>
</head>
<body>
<script type="module">
    import { Timer, CountdownTimer } from '/static/js/timer.js'

    const timerElement = document.getElementById("t1");
    const timer = new Timer(timerElement);
    timer.start();

    const timerElement2 = document.getElementById("t2");
    const countdownTimer = new CountdownTimer(timerElement2);
    countdownTimer.onTarget(() => console.log("Time's up!"))
    const targetTime = Date.now() + 5 * 1000;
    countdownTimer.start(targetTime);
    // timer.startCountdown(targetTime);

    document.getElementById("b").addEventListener("click", () => {
        timer.stop();
    })
</script>
<!-- <script src="/static/js/test.js" type="module"></script> -->
</body>
</html>